<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FAQ Bot | {% block title %}My Website{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/tailwind.css') }}">
</head>
<body>
    {% include 'header.html' %}


    <main>

        {% block content %}
        <div class="container mx-auto p-4 text-center">
            <h1>FAQ Bot</h1>
            <h3>Something is probably broken.</h3>
        </div>
        {% endblock %}
    
    </main>
    
    
    {% include 'footer.html' %}
</body>
</html>