<footer class="p-4 bg-slate-800 border-t-2 border-slate-600">
    <div class="container mx-auto flex flex-row items-center justify-center space-x-4">
        <p class="text-slate-300">
            By <a href="https://github.com/Person20020" target="_blank" class="text-slate-400 underline underline-offset-2 decoration-solid hover:decoration-wavy hover:decoration-2">Person20020</a>.
        </p>
        <p>
            <a href="https://github.com/Person20020/faq-bot" target="_blank" class="text-slate-400 underline underline-offset-2 decoration-solid hover:decoration-wavy hover:decoration-2">Source</a>
        </p>
    </div>
</footer>